html {
  --bg-color: #fafafa;
  --txt-color: #2a2a2e;
  --code-bg: #eee;
  --pink: rgb(249,118,126);
}

@media screen and (prefers-color-scheme: dark) {
  html {
    --bg-color: #191919;
    --txt-color: #fafafa;
    --code-bg: #2a2a2e;
    --pink: rgb(235, 181, 190);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: calc(1em + 0.75rem);
  letter-spacing: 0.5px;
  background-color: var(--bg-color);
  color: var(--txt-color);
}